.gradientBack{
	background-color: black;
}

.gridBack{
	grid-column: 1 / 7;
	grid-row: 1 / 5;

	height: 100%;
	width: 100%;
}

.svgGlow{
  filter: drop-shadow(0 0 10px #f0f);
	// text-shadow: 20px 20px #fff;
}
	
.frontGrid{
	display: grid;
	
	height: 100vh;
	width: 100vw;

	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);

	grid-template-areas:
		'header header header header header header'
		'tCell tCell uMid uMid fuzzBall fuzzBall'
		'tCell tCell lMid lMid fuzzBall fuzzBall'
		'foot foot foot foot foot foot'
	;

	color: white;

	// background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 83%, rgba(255,255,255,0.19509802211900384) 100%);
}

.testArea{
	grid-area: tCell;
}

.fuzzyBallTest{
	grid-area: fuzzBall;

	display: flex;

	justify-content: center;
	align-items: center;

	.fuzzyBall{
		opacity: .5;
		transition: opacity .3s;

		background-color: white;
		border-radius: 50%;

		box-shadow: 0 0 10px 10px hotpink;
	}

	.fuzzyBall:hover{
		opacity: 1;
		transition: opacity .3s;
	}
}